@font-face {
font-family: 'Product Sans Bold';
font-style: normal;
font-weight: 700;
src: local('Product Sans Bold'), url('Product Sans Bold.ttf') format('ttf');
}
@font-face {
font-family: 'Product Sans Italic';
font-style: italic;
font-weight: normal;
src: local('Product Sans Italic'), url('Product Sans Italic.ttf') format('ttf');
}
@font-face {
font-family: 'Product Sans Regular';
font-style: normal;
font-weight: 400;
src: local('Product Sans Regular'), url('Product Sans Regular.ttf') format('ttf');
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Product Sans"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1180px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd;  color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}
h1 {font-size: 100px;font-weight: 100;color:#ccc;}
/*header*/
#header {background: #fff;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; display: flex; justify-content: space-between;}
#header nav ul li {display: inline-block;vertical-align: middle;position: relative; z-index: 1}
#header nav ul li a {font-weight: 700; font-size: 16px; color: #443308; padding: 20px 0}
#header nav ul li.active-menu a,#header nav ul li a:hover {color:#fff; }
#header nav ul li.active-menu:before, #header nav ul li:hover:before {content: '';position: absolute;background: #024FAB; color: #fff;width: 117px;height: 54px;margin: 0 auto;left: 0;right: 0;top: -17px;border-radius: 30px; z-index: -1}
#header nav ul li:nth-of-type(1).active-menu:before, #header nav ul li:nth-of-type(1):hover:before {left: -33px; right: unset;}
#header nav ul li:nth-of-type(2).active-menu:before, #header nav ul li:nth-of-type(2):hover:before {left: -17px; right: unset;}
#header nav ul li:nth-of-type(3).active-menu:before, #header nav ul li:nth-of-type(3):hover:before {left: unset; right: -8px;width: 133px;}
#header nav ul li:nth-of-type(4).active-menu:before, #header nav ul li:nth-of-type(4):hover:before {width: 149px;height: 54px;}
#header nav ul li:nth-of-type(5).active-menu:before, #header nav ul li:nth-of-type(5):hover:before {left: -16px; }
#header nav ul li:nth-of-type(6).active-menu:before, #header nav ul li:nth-of-type(6):hover:before {left: -5px; }
#header .container{display: flex; justify-content: space-between; align-items: flex-start;}
#header .col1{max-width: 290px;position: relative;bottom: -20px;}
#header .col2{width: 810px;}
#header .col2 p {text-align: right; font-weight: 700; font-size: 25px; color: #443409;}
#header .col2 p img{vertical-align: middle; margin-right: 15px; }
/*banner*/
#banner { background: url(../images/common/bannerBg.jpg) no-repeat top left; background-size: cover; padding: 225px 0 50px 0;margin-top: -16px; overflow: hidden;}
#banner .row{position: relative;}
#banner h3{font-weight: 700; font-size: 100px; color: #fff; text-align: center;line-height: 1;}
#banner h3 span.newLine1{font-weight: 400; font-size: 38px; display: block;}
#banner h3 span.newLine2{line-height: 2.7;font-weight: 400; font-style: italic;; font-size: 24px; display: block}
#banner .containerLeft h4{line-height: 1;font-weight: 700; font-size: 100px; color: #fff;}
#banner .containerLeft h4 span{font-style: italic;line-height: 1.5;display: block; font-weight: 400; font-size: 24px;}
#banner .containerLeft{max-width: 535px;}
#banner .containerLeft p.estimate{text-align: left;}
#banner p{line-height: 1.4;text-align: left; font-weight: 400; font-size: 19px; color: #fff;}
#banner a{font-weight: 700; font-size: 15px; color: #fff; letter-spacing: 2px; background: #024FAB; padding: 17px 30px; border-radius: 30px; display: inline-block;}
#banner .row{display: flex;justify-content: flex-start;}
#banner .containerRight h4{color: #fff; font-weight: 700; font-size: 45px;}
#banner .containerRight h4 span{font-size: 31px; display: block}
#banner .containerRight{position: absolute; bottom: -32px; right: 0}
#banner .containerRight h4{position: relative;z-index: 2}
#banner .containerRight h4:before{background: url(../images/common/bannerImg1.png)no-repeat; content: ""; width: 523px; height: 379px; position: absolute;bottom: -175px; right: -115px; z-index: -1}
#banner .containerRight{}
/*content*/
#content {background: url(../images/content/contentBg.jpg)no-repeat center center;background-size: cover;position: relative;z-index: 4; padding: 70px 0 60px}
#content .row{display: flex;justify-content: space-between;}
#content dl{margin: 0;}
#content dt img{display: block}
#content dd{margin: 0; text-align: left}
#content dd h2{font-weight: 700; font-size: 42px; color: #005285;margin-top: 25px;}
#content dd p{color: #443306; font-weight: 400; font-size: 19px;line-height: 1.7; margin: 7px 0; max-width: 569px;}
/* gallery */
#gallery {background: url(../images/common/galleryBg.png)no-repeat top center; background-size: cover; padding: 120px 0 165px;}
#gallery .row{max-width: 1400px; }
#gallery .container{display: flex;justify-content: space-between; flex-wrap: wrap; margin-top: 40px}
#gallery dl{margin: 50px 0 0}
#gallery dt img{display: block}
#gallery dd{font-weight: 400; font-size: 22px; color: #fff; margin: 30px 0 0;}
#gallery h2{font-weight: 700; font-size: 45px; color: #fff;}
/* schedule */
#schedule{background: url(../images/common/scheduleBg.png)no-repeat center center; background-size: cover; padding: 70px 0 65px;}
#schedule h3{max-width: 770px; margin: 0 auto; color: #fff; font-weight: 700; font-size: 33px;}
#schedule .container{max-width: 651px;  margin: 0 auto; text-align: left; margin-top: 50px; display: flex; justify-content: space-between;}
#schedule a{font-weight: 700; font-size: 19px; color: #fff;  background: #024FAB; padding: 15px 35px; border-radius: 30px; display: inline-block;}
/* about */
#about1 {padding: 100px 0 130px; overflow: hidden; background: url(../images/content/about1Bg.jpg)no-repeat center center; background-size: cover}
#about1 .row{position: relative;}
#about1 .containerTop{text-align: left;}
#about1 .containerTop span{font-weight: 400; font-size: 16px; color: #fff}
#about1 .containerTop h1{font-weight: 700; font-size: 45px; color: #00A3D7; }
#about1 .containerTop p{line-height: 1.8;font-weight: 400; color: #fff; font-size: 19px; max-width: 510px;}
#about1 .containerTop p > .title{font-weight: 700; color: #fff; font-size: 19px;}
#about1 .containerTop a{font-weight: 700; font-size: 15px; color: #fff; letter-spacing: 2px; background: #024FAB; padding: 25px; border-radius: 40px; display: inline-block;}
#about2 { padding: 105px 0 100px; overflow: hidden; background: url(../images/content/about2Bg.jpg)no-repeat center center; background-size: cover}
#about2 .containerBot{text-align: left;}
#about2 .containerBot h2{font-weight: 700; font-size: 36px; max-width: 296px; color: #004DAB}
#about2 .containerBot p{line-height: 1.8;max-width:510px;font-weight: 400; font-size: 19px; color: #fff;}
#about2 .containerBot a{font-weight: 700; font-size: 15px; color: #fff; letter-spacing: 2px; background: #024FAB; padding: 25px; border-radius: 40px; display: inline-block;}

/* testimonials */
#testimonials {background: url(../images/content/testimonials.jpg)no-repeat bottom center; background-size: cover; padding: 70px 0 60px 0}
#testimonials .row{max-width: 1160px;}
#testimonials h2{font-weight: 700; font-size: 48px; color: #fff;}
#testimonials p{letter-spacing: 0.2px;margin: 0 auto;max-width: 300px;line-height: 1.3;text-align:center;color: rgba(255,255,255,0.8); font-weight: 400; font-style: italic; font-size: 16px;}
#testimonials span.author{margin-top: 25px;font-weight: 700; font-size: 21px; color: #fff; display: block}
#testimonials span.star{display: block; color: #7CB5E5; font-size: 30px; }
#testimonials .container{display: flex; justify-content: space-around; margin-top: 60px;}
#testimonials .container .cols:nth-of-type(odd){position: relative;bottom: -65px;}
#testimonials .imgBorder{position: relative;margin-top: 160px;}
#testimonials .imgBorder img{position: relative;}
#testimonials .imgBorder:before{background: url(../images/content/testiImgBorder.png); position: absolute;width: 2px; height: 130px; content: ""; top: -110px;left: 0; right: 0; margin: 0 auto;}
#testimonials .col1 .imgBorder {top: 45px;}
#testimonials .col3 .imgBorder {top: -36px;}
#testimonials .col1 .imgBorder:before {background: url(../images/content/testiImgBorder.png);position: absolute;width: 2px;height: 160px;content: "";top: -145px;left: 0;right: 0;margin: 0 auto;}
/* info */
#info {padding: 240px 0 185px; background: url(../images/content/infoBg.png)no-repeat top center;background-size: cover; margin-top: -115px;}
#info h2{font-weight: 700; font-size: 48px; color: #fff; max-width: 960px; margin: 0 auto;}
/* contactInfo */
#contactInfo{margin-top: -90px; padding-bottom: 60px;}
#contactInfo .row{max-width: 960px;}
#contactInfo h5{font-weight: 700; font-size: 21px; color: #2B6CA9;}
#contactInfo span{display: block; font-weight: 700; font-size: 21px; color:#443307;}
#contactInfo .container{margin-top: 60px;display: flex;justify-content: space-between;}
#contactInfo .col1{max-width: 172px;}
#contactInfo img.logo{margin-top: 50px;}
/* contactForm */
#contactForm {background: url(../images/content/contactBg.png)no-repeat center center; background-size: cover; padding: 60px 0 50px;}
#contactForm .row{max-width: 960px}
#contactForm form{margin-top: 45px;}
#contactForm h2{font-weight: 700; font-size: 48px; color: #fff;}
#contactForm .row-1{display: flex;justify-content: space-between;}
#contactForm .row-1 label{width: calc(100%/3 - 15px)}
#contactForm .ctc-form input[type="text"], #contactForm .ctc-form textarea {font-family: "Product Sans";font-size: 16px;color: #443409;font-weight:400;height: 45px;display: block;width: 100%;border: 1px solid #ddd;border-radius: 5px;padding: 5px 15px;box-sizing: border-box;margin: 0 auto 18px; background: #fff}
#contactForm .ctc-form input[type="text"]::placeholder, #contactForm .ctc-form textarea::placeholder{font-family: "Product Sans";font-size: 16px;color: #443409;font-weight:400;}
#contactForm button.ctcBtn{border: unset; color: #fff; letter-spacing: 2px; font-weight: 700; font-size: 15px; background: #7CB5E5; padding: 23px 25px; border-radius: 40px}
#contactForm .ctc-form textarea{height: 150px;}
#contactForm label.policy{color: #fff}
/*footer*/
#footer {background: #fff; padding: 25px 0 0 0;border-top: 2px solid #014EAB;}
#footer p.copy{font-weight: 400; font-size: 19px; color: #443409; margin: 0}
#footer p.silver{font-weight: 400; font-size: 17px; color: #000; margin: 0;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer p.card{margin: 20px 0}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0; background: #fff;}
.inner #content .row{display: block;}
.inner #content h1{font-weight: 700; font-size: 45px; color: #014EAB; }
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
/* media query */
@media only screen and (max-width: 1488px){
	#about .containerImg1 {position: absolute;right: -66px;top: -100px;width: 700px;}
	#about .containerImg2 {position: absolute;left: -154px;bottom: -80px;width: 700px;}
}
@media only screen and (max-width: 1312px){
	#content{overflow: hidden;}
}
@media only screen and (max-width: 1299px){
	#gallery .container {display: flex;justify-content: space-around;flex-wrap: wrap;margin-top: 40px;}
	#gallery {padding-bottom: 50px;}
}