@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700, 300i|Poppins:300,300i,400,500,600,700');
@font-face {
  font-family: 'Socialico';
  src: url('fonts/Socialico.eot'); 
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'),
       url('fonts/Socialico.woff2') format('woff2'),
       url('fonts/Socialico.woff') format('woff'),
       url('fonts/Socialico.ttf')  format('truetype'),
       url('fonts/Socialico.svg#Socialico') format('svg');
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Poppins", sans-serif}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}

.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#ccc;}
/*header*/
#header {border-top: 10px solid #1CBD61; padding: 15px 0 0 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle; padding: 0 20px;}
#header nav ul li:first-of-type{padding-left: 0}
#header nav ul li:first-of-type{padding-right: 0}
#header nav ul li a {font-size: 16px; font-weight: 600; color: #ffffff; font-family: "Poppins", sans-serif;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;border: 2px solid #fff;padding: 3px 25px;border-radius: 25px;margin-left: -10px;margin-right: -15px;;}
#header .container{padding: 50px 0;position: relative;}
#header .container img:first-of-type{position: absolute;top: -7px;right: 37px;}
#header .container img:last-of-type{position: absolute; top: -7px; right: 0}

/*banner*/
#banner {background: url(../images/common/hdBg.jpg)no-repeat center center; background-size: cover; padding: 490px 0 180px 0;margin-top: -141px;}
#banner h2{font-family: "Poppins", sans-serif; font-weight: 300; color: #ffffff; font-size: 60px; position: relative; z-index: 1; line-height: 65px;}
#banner h2 span{font-size: 40px; display: block;}
#banner h2:after{background: url(../images/common/bannerH2Bg.png); content: ""; position: absolute; width: 810px; height: 164px; top: 0; right: 0; left: 0; margin: 0 auto;line-height: 60px;z-index: -1;}
#banner .border{position: relative; margin-top: 75px;}
#banner .border a{font-family: "Poppins", sans-serif; font-size: 18px; font-weight: 600; color: white; background: #1CBD61; padding: 17px 36px;;position: relative;z-index: 1;}
#banner .border a:after{background: url(../images/common/hdBorder.png); content: ""; position: absolute; top: -11px;right: -10px; width: 222px; height: 80px; z-index: -1;}
/*content*/
#content {background: url(../images/content/contentBg.png)no-repeat center center; background-size: cover; padding: 70px 0 30px 0; font-family: "Poppins", sans-serif; position: relative;}
#content h3{font-weight: 700; font-size: 30px; color: #333333}
#content .contTop .row{width: 970px; max-width: 970px;margin: 0 auto;}
#content .contTop .imgBox{position: relative;padding: 0 0 30px 0;}
#content .contTop .imgBox h3:after{background: url(../images/content/contentBorderTop.png); content: ""; top: 16px; left: 0; right: 0; width: 250px ; height: 80px; position: absolute;margin: 0 auto;}
#content .contTop p{font-size: 14px; font-weight: 400; color: #545454;letter-spacing: 0.7px;}
.contBot {margin-top: 90px;}
.contBot .imgCont{background: green;width: 413px;height: 551px;}
.contBot .imgCont img{margin: -10px 0 0 -20px;}
.contBot .contLeft .row{width: 434px; max-width: 434px;}
.contBot .contRight .row{width: 755px; max-width: 726px;}
.contBot .contRight .innerContTop p{font-size: 14px; font-weight: 400; color: #545454;letter-spacing: 0.7px; text-align: left;line-height: 20px;width: 680px;max-width: 680px;}
.contBot .contRight .innerContTop p:nth-of-type(2){margin: 30px 0;}
.contBot .contRight p.imgContBot{text-align: left;margin: 40px 0;}
.contBot .contRight p.imgContBot img{ padding: 0 5px }
.contBot .contRight p.imgContBot a{font-family: "Poppins", sans-serif; font-size: 18px; font-weight: 600; color: white; background: #1CBD61; padding: 17px 44px;position: relative; vertical-align: top;top: 73px;right: -50px; z-index: 1}
.contBot .contRight p.imgContBot a:after{background:url(../images/content/contentBorder.png); content: ""; width: 222px; height: 80px; position: absolute; z-index: -1;top: -11px;right: -11px;}
/* Reviews */
#reviews{background: url(../images/common/reviewsBg.png)no-repeat center center; background-size: cover; padding: 25px 0 10px 0}
#reviews .containerLeft {margin: 150px 0 70px 0;}
#reviews .containerLeft .innerCont{margin-top: 70px;}
#reviews .containerLeft .row{max-width: 510px; width: 510px;}
#reviews .containerLeft h4{font-family: "Poppins"; font-weight: 300; font-size: 35px; color: #ffffff; text-align: left;line-height: 65px;}
#reviews .containerLeft h4 span{display: block; font-weight: 300; font-size: 70px;}
#reviews .containerLeft a{font-family: "Poppins", sans-serif; font-size: 18px; font-weight: 600; color: white; background: #1CBD61; padding: 17px 36px;position: relative; z-index: 1;}
#reviews .containerLeft a:after{background:url(../images/content/contentBorder.png); content: ""; width: 222px; height: 80px; position: absolute; z-index: -1; top: -11px; left: -14px;}
#reviews .containerLeft .row{max-width: 600px; width: 600px;}
#reviews .containerRight .row{max-width: 600px; width: 600px;}
#reviews .containerRight .contTop .row{max-width: 380px; width: 380px;}
#reviews .containerRight .contTop h2{font-family: "Poppins"; font-size: 30px; font-weight: 700; color: #ffffff; position: relative;}
#reviews .containerRight .contTop h2:after{background: url(../images/commom/reviewsBorder.png); content: ""; position: absolute; left: 0; right: 0;  width:250px; height:80px;}
#reviews .containerRight .contTop p {font-family: "Lato"; font-style: italic; font-weight: 300; color: #ffffff}
#reviews .containerRight .contTop span{font-family: "Poppings"; font-weight: 700; font-size: 15px; color: #ffffff}
/*footer*/
#footer {background: #fad377;padding: 40px 0}

#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
