@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:300,400i,400,500i,600,700,800|Oswald:300,400,500,600,700|Play');
@font-face {
  font-family: 'socialico';
  src: url('fonts/Socialico.eot'); /* IE9 Compat Modes */
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Socialico.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Socialico.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Socialico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Socialico.svg#Socialico') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'CenturyGothic-Bold';
font-style: normal;
font-weight: 700;
src: local('CenturyGothic-Bold'), url('CenturyGothic-Bold') format('ttf');
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Oswald"}
a {color:inherit;text-decoration: none; display: inline-block;}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd{ padding:0; margin:0; }
img {display: block;}
.row {max-width: 1200px;margin: 0 auto;}
.row-100 {max-width: 100%;}
.socialMedia a {font-family: 'socialico';}

/*flexbox*/
.flex {display: flex; flex-direction: row;}
.flex-c {display: flex; flex-direction: column;}
.in-flex {display: inline-flex;}
.space-btw {justify-content: space-between;}
.space-arr {justify-content: space-around;}
.img-center {align-self: center;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#000;}
/*header*/
#header {background: #1F6B57;}
#header .row{display: flex; justify-content: space-between; position: relative;}
#header .cont{max-width: 328px;}
#header .mainLogo{position: absolute;top: 0; left: 0;}
#header nav {width: 750px; padding: 27px 0;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; display: flex; justify-content: space-between;}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-weight: 300; font-size: 21px; color: #fff}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}

/*banner*/
#banner {background: url('../images/common/bannerBg.jpg') center center no-repeat; background-size: cover; min-height: 800px;}

/*content*/
#content {background: #fff; padding-bottom: 70px;}
#content .row{display: flex; justify-content: space-between; align-items: center;}
#content .cols{width: calc(100%/2); position: relative; z-index: 1; margin-top: -100px;}
#content .col-1 .imgBox{width: 100%}
#content .col-1 .imgBox img{width: 100%}
#content .col-2 {text-align: left; width: calc(100%/2 - 90px); margin-top: 25px;}
#content h1{ font-weight: 700; font-size: 55px; color: #1F6B57; line-height: 1; position: relative;}
#content .col-2 h1:before {content: ''; border-left: 5px solid #206B57; position: absolute; width: 5px; height: 82px; top: 6px; left: -25px;}
#content .col-2 span{ font-size: 21px; font-weight: 300; color: #000000}
#content .col-2 p{font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #000; margin: 38px 0; line-height: 2; max-width: 510px; letter-spacing: 0.7px;}
a.link{font-family: "Play"; font-size: 15px; color: #fff; font-weight: 400; background:#206B57; padding: 15px 50px;}

/* services */
#services {background: url('../images/content/servicesBg.jpg') center center no-repeat; background-size: cover; padding: 75px 0 95px;}
#services h2{font-weight: 700; font-size: 55px; color: #fff;}
#services .container{display: flex; justify-content: space-between; max-width: 1200px; margin-top: 50px;}
#services dl{width: calc(100%/3 - 10px)}
#services dt img{width: 100%;}
#services dd{position: relative; margin-top: 27px;}
#services dd h4{font-weight: 600; font-size: 22px;color: #fff; position: relative; text-align: left; margin-left: 30px;}
#services dd:before {content: ''; border-left: 5px solid #fff; position: absolute; width: 5px; height: 50px; top: -5px; bottom: 0; left: 0;}

/* testimonials */
#testimonials {padding: 70px 0;}
#testimonials .row{display: flex; justify-content: space-between; align-items: center}
#testimonials .cols{width: calc(100%/2)}
#testimonials .col-1{text-align: left; width: calc(100%/2 - 50px)}
#testimonials .col-1 h2{font-weight: 700; font-size: 55px; color: #1F6B57; line-height: 1}
#testimonials .col-1 span.sub{font-weight: 300; font-size: 21px; color: #000;}
#testimonials .col-1 p.desc{font-family: "Open Sans"; font-style: italic;; font-weight: 400; color:#000; max-width: 506px; line-height: 1.9}
#testimonials .col-1 p.star{font-size: 27px; color: #FFB900; display: block; letter-spacing: 13px; margin-top: 25px;}
#testimonials .col-1 .link{margin-top: 25px;}
#testimonials .col-2 .container{display: flex; justify-content: space-between; flex-wrap: wrap;}
#testimonials .col-2 .imgBox{width: calc(50% - 15px)}
#testimonials .col-2 .imgBox img{width: 100%;}
#testimonials .col-2 .imgBox:nth-of-type(n+3){margin-top: 25px;}

/* contact */
#contact {padding: 35px 0 105px;}
#contact h2{font-weight: 700; font-size: 55px; color: #1F6B57}
#contact form{margin-top: 22px;}
#contact .ctc-form button{font-family: "Play"; font-size: 15px; color: #fff; font-weight: 400; background:#206B57; padding: 15px 50px; border: unset; text-transform: uppercase; margin-left:0;}
#contact .ctc-form label:nth-of-type(2) input[type="text"]{margin: 0 8px 17px;width: calc(100%/3 - 19px);}
#contact .ctc-form{max-width: 1200px;}
#contact .ctc-form input[type="text"]{font-family: "Open Sans";font-size: 15px;color: #000;font-weight: 400;border: 1px solid #D6D6D6;border-radius: unset;padding: 5px 25px;box-sizing: border-box;margin: 0 auto 17px;width: calc(100%/3 - 3px); display: inline-block;  }
#contact .ctc-form textarea {font-family: "Open Sans";font-size: 15px;color: #000;font-weight: 400;border: 1px solid #D6D6D6;border-radius: unset;padding: 5px 25px;box-sizing: border-box;margin: 0 auto 8px; width: 100%}
#contact .ctc-form textarea::placeholder, #contact .ctc-form input[type="text"]::placeholder{font-weight: 400; color:#000; font-family: "Open Sans"}
#contact .container{display: flex; justify-content: space-between; width: 100%; margin:17px auto 0;}
#contact .col-1{max-width: 855px; text-align: left; font-family: "Open Sans"; font-weight: 400; font-size: 15px; color: #000}
#contact .col-2{max-width: 310px;}
#contact input.consentBox {border: 1px solid #D6D6D6}

/* gallery */
#gallery {border-top: 5px solid #206B57; padding-top: 6px;}
#gallery .row{max-width: 100%; display: flex;}
#gallery .imgBox{width: calc(100%/5)}
#gallery .imgBox img{width: 100%;}

/*footerTop*/
#footerTop {background: url('../images/common/ftTopBg.jpg') center center no-repeat; background-size: cover; padding: 65px 70px;}
#footerTop .row{display: flex; justify-content: space-between; align-items: center}
#footerTop .mainLogo{width: 386px;}
#footerTop .col-1{width: 263px}
#footerTop .col-1 dl:last-of-type{margin-top: 43px;}
#footerTop .col-1 dd{width: 181px; text-align: left; font-family: "Open Sans"}
#footerTop dl{display: flex; justify-content: space-between;}
#footerTop dt img{border: 1px solid rgba(255,255,255,0.7); padding: 5px;}
#footerTop dd p{font-weight: 700; font-size: 15px; color: #fff;}
#footerTop dd span{font-weight: 400;display: block}
#footerTop .col-2{width: 224px;}
#footerTop .col-2 dd{text-align: left; font-family: "Open Sans"}
#footerTop .col-2 .socialMedia{text-align: left; margin-top: 35px;}
#footerTop .col-2 .socialMedia a{color: #fff; font-size: 34px; font-family: "socialico"; text-align: left; letter-spacing: 26px;}

/* footerBot */
#footerBot {background: #fff; color: #111111; font-family: "Open Sans"; font-weight: 400; font-size: 15px; padding: 30px 0}
#footerBot .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footerBot .silver a {color: #0d73d7;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0;}
.inner #content .row{display: block}
.inner #content p{font-weight: 400; margin-top: 30px;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

