@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Lato:400,700|Libre+Baskerville:400,700,900,400i');
@font-face {
  font-family: 'Socialico';
  src: url('fonts/Socialico.eot'); 
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'),
       url('fonts/Socialico.woff2') format('woff2'),
       url('fonts/Socialico.woff') format('woff'),
       url('fonts/Socialico.ttf')  format('truetype'),
       url('fonts/Socialico.svg#Socialico') format('svg');
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: 'Lato', sans-serif;}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
 button {background: #F68026; border: none; color: #fff; font-family: "Lato", sans-serif; padding: 10px 24px; font-size: 16px; font-weight: 700; letter-spacing: 2px;}
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 10px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#ccc;}
/*header*/
#header {background: rgba(1, 67, 124, 1);position: relative;font-family: "Lato"; font-size: 16px; font-weight: 700; padding: 20px 0}
#header .row{max-width: 1435px; margin: 0 auto;}
#header {position: relative;}
#header .container img{position: absolute;max-width: 480px;width: 100%;left: 0;right: 0;margin: 0 auto; top: 0}
#header .navbarLeft{max-width: 370px;margin-left: 40px;}
#header .navbarRight{max-width: 446px; padding-left: 10px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;border-left: 1px solid rgba(255, 255, 255,0.3);padding: 0 40px;color: #FFFFFF;}
#header nav ul li:first-of-type{border: none; margin: 0; padding-left: 0;}
#header nav ul li:last-of-type{ margin: 0; padding-right: 0;}
#header nav ul li:nth-of-type(4){padding-left: 305px; border: none;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color: #fff;background: url(../images/common/nav.png)no-repeat center bottom;}
#header nav ul li a {padding-bottom: 20px;}
/*banner*/
#banner {margin-top: 3px;}
#banner .bannerTop {background:url(../images/common/bannerBg.png) no-repeat center center;background-size: cover;padding: 335px 0 190px 0; font-family: 'Lato', sans-serif;}
#banner .bannerTop h2{font-weight: 400; font-size: 54px; color: #FFFFFF; letter-spacing: 10px;}
#banner .bannerTop h2 span{display: block; font-size: 91px; font-weight: 700; color: #FFFFFF;}
#banner .bannerTop span.phone{display: block; font-size: 45px; font-weight: 400; font-family: "Libre Baskerville"; color: #fff}
#banner .bannerTop .border{position: relative;border: 3px solid #fff;padding: 20px 20px 15px; margin: 0 auto;max-width: 325px;top: 44px;}
#banner .bannerTop .container{position: relative;margin-top: 20px;}
#banner .bannerTop .container:before{background: url(../images/common/border.png); position: absolute; right: 0;left: 0; margin: 0 auto;content: "";width: 377px;height: 88px;top: 20px;}
#banner .bannerBot .row{max-width: 100%;}
#banner .bannerBot dl {min-height: 209px; width: 18.9375%; display: inline-block; margin: 0 -2px; vertical-align: top;}
#banner .bannerBot dl:last-of-type dt {margin: 55px 0px;}
#banner .bannerBot dt {margin: 40px 0 0;}
.bannerBot dl:nth-of-type(2n+1){background: #F5710E}
.bannerBot dl:nth-of-type(2n){background: #FA9720}
.bannerBot dl:nth-of-type(5){background: #01437C !important;width: 24.375% !important;}
.bannerBot a{font-family: "Libre Baskerville" !important; font-size: 40px !important; font-weight: 400 !important; color: #fff}
.bannerBot span{display: block}
#banner .bannerBot dd{ font-size: 20px; font-family: "Lato";font-weight: 700; color: #FFFFFF;letter-spacing: 2px;margin: 10px 0;}
/*content*/
#content {background: url("../images/common/service-bg1.png")center center no-repeat; background-size: 100% 100%; font-family: "Libre Baskerville"; padding: 40px 0;position: relative; overflow: hidden;}
#content .contTop h3{font-size: 35px; font-weight: 400; color: #212121; letter-spacing: 2px;}
#content .contTop p.license{font-family: "Lato"; font-weight: 700; font-size: 20px; color: #868686;margin: 5px 0;letter-spacing: 1px;}
#content .border{border: 2px solid #DDDDDD;margin-top: 125px; position: relative; padding: 0 30px 0 0}
#content .border img{position: relative;top: 10px;z-index: 1;}
#content .contBot {margin-top: -84px;position: relative;}
#content .contBot dl {display: inline-block;max-width: 345px;width: 100%;box-sizing: border-box;vertical-align: top;margin: 0 0 0 35px;}
#content .contBot dd{margin-left: 0; font-size: 22px; font-weight: 700; color: #F47313;padding: 25px 0;}
#content h1{ font-size: 75px; font-weight: 400; color: #01437C;max-width: 570px;margin: 0 auto;background: #fff;letter-spacing: 2px;}
#content p{font-family: "Lato"; font-size: 21px; font-weight: 400; color: #333333; letter-spacing: 2px;margin: 0;line-height: 40px;}
#content .servBox{margin: 50px 0;}
#content img.person{position: absolute;top: 16%;right: -240px; z-index: 0;}
/* contact */
#contact{background: url(../images/common/contactBg.png) no-repeat center center; background-size: cover; }
#contact .container{background: rgba(0, 52, 104, 0.8); width: 605px; max-width: 605px; padding: 36px 38px; position: relative;}
#contact h2{font-size: 67px; font-weight: 400; font-family: "Libre Baskerville"; color: #ffffff}
#contact input {display: inline-block;max-width: 259px;}
#contact input::placeholder, #contact textarea::placeholder {font-family: 'Lato', sans-serif; font-size: 17px; font-weight: 400; color: #333333 !important;}
#contact .ctc-form input[type="text"], #contact .ctc-form textarea {font-family: 'Lato', sans-serif; font-size: 17px; font-weight: 400; color: #333333 !important;}
#contact .ctc-form{text-align: left;color: #fff; font-family: "Montserrat"; font-size: 12px; font-weight: 400;}
#contact .ctc-form button {background: #F68026; border: none; color: #fff; font-family: "Lato", sans-serif; padding: 10px 24px; font-size: 16px; font-weight: 700; letter-spacing: 2px;}
#contact form{max-width: 525px;}
#contact .container img{position: absolute; top: -15px; left: 0; right: 0; margin: 0 auto;}
/*footer*/
.footerTop {background: url(../images/common/ftBg.png)no-repeat center center; background-size: cover; padding: 50px 0 0 0;}
.footerTop .container{position: relative; background: #01437C; padding: 35px 25px;margin-top: 70px;}
.footerTop .container img{position: absolute; top: -15px; right: 0; left: 0; margin: 0 auto;}
.footerTop .container h3{font-size: 36px; font-style: italic; font-weight: 400; font-family: "Libre Baskerville", sans-serif; color: #ffffff; letter-spacing: 3px;}
.footerBot {background: url(../images/common/footerBotBg.png) no-repeat center center; background-size: cover; padding: 100px 0 25px 0;margin-top: -52px;}
.footerBot .contTop dl{display: inline-block;width: 395px;max-width: 395px;vertical-align: top;}
.footerBot .contTop dd{font-weight: 400; font-size: 24px; color: #ffffff;margin: 15px 0;letter-spacing: 1px;}
.footerBot .contTop .mid{font-weight: 400; font-size: 45px; color: #ffffff;margin: 5px 0;}
.footerBot .contTop .last{width: 265px;margin: 0 auto;}
.footerBot .silver img {display: inline-block;vertical-align: middle;max-width: 50px;}
.footerBot .contMid{padding: 19px 0;border: 3px solid #ffffff; margin-top: 10px;}
.footerBot .contMid nav a#pull {display: none}
.footerBot .contMid nav ul {margin: 0;padding: 0}
.footerBot .contMid nav ul li {display: inline-block;vertical-align: middle;border-left: 1px solid rgba(255, 255, 255,0.3);padding: 0 40px;color: #FFFFFF;padding: 0px 60px; font-weight: 700;}
.footerBot .contMid nav ul li:first-of-type{border: none; margin: 0; padding-left: 0;}
.footerBot .contMid nav ul li:last-of-type{ margin: 0; padding-right: 0;}
.footerBot .ftSocial a{font-family: "Socialico" !important;color: #fff; font-weight: 400; font-size: 36px;margin: 0 35px;}
.footerBot p.copy {letter-spacing: 1px; font-weight: 700; color: #ffffff; line-height: 46px; font-size: 16px;margin: 0;}
.footerBot .silver{letter-spacing: 1px; font-weight: 700; color: #ffffff;font-size: 16px;margin: 0;}
.footer .contBot{margin-top: 20px}
/*inner pages*/
.inner #content {background: #fff;min-height: 400px;padding: 40px 0}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
/* media query */
@media screen and (max-width:1300px) {
    #header .container img {
	    position: absolute;
	    max-width: 370px;
	    width: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 0;
	}
}
@media screen and (max-width:1200px) {
   #header .container img {
    	position: absolute;
	    max-width: 300px;
	    width: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 0;
	}
}